* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2e2e2e;
    /* Fundo escuro geral do layout */
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.site-header {
    background-color: #292929;
    padding: 40px 20px;
    font-size: 1.2rem;
}


.site-nav {
    background-color: #000000;
    padding: 15px 0;
}

.site-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* Distribui as opções igualmente */
    max-width: 1200px;
    margin: 0 auto;
}

.site-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

/* --- CONTAINER DO MEIO (Main + Aside) --- */
.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* Divide o espaço: 75% para Main e 25% para Aside */
    flex-grow: 1;
    /* Faz essa área ocupar todo o espaço vertical restante */
}


.site-main {
    background-color: #bebebe;
    color: #2e2e2e;
    padding: 20px;
    min-height: 400px;
    /* Altura mínima para visualização */
}


.site-aside {
    background-color: #ffffff;
    color: #2e2e2e;
    padding: 20px;
}


.site-footer {
    background-color: #292929;
    text-align: center;
    padding: 30px 20px;
    margin-top: auto;
    /* Garante que o rodapé fique sempre na parte inferior */
}